.edu_slider {
    width: 100%;
    height: 150px;
    overflow: hidden;
    background-color:grey;
  }
  
  .edu_slider-content {
    display: flex;
    margin-top: 120px;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    animation: slide 8s linear infinite;
    color: white;
  }
  
  .edu_slide {
    padding: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
  }
  
  
  .edu_slide p.author {
    margin-top: 20px;
    font-style: italic;
  }
  
  .edu_slide.active {
    opacity: 1;
    transition: opacity 1s;
  }
  
  @keyframes slide {
    0% {
      transform: translateY(0);
    }
    16.666% {
      transform: translateY(0);
    }
    33.333% {
      transform: translateY(-100%);
    }
    49.999% {
      transform: translateY(-100%);
    }
    66.666% {
      transform: translateY(-200%);
    }
    83.333% {
      transform: translateY(-200%);
    }
    100% {
      transform: translateY(0);
    }
  }
  