.edu{
    font-size: 15px;
    font-family: 'Times New Roman';
}
.ul1{
    font-size: 20px;
}
.pro{
    font-size: 20px;   
}
h3{
    text-align: center;
}
.intern{
    font-size: 20px;
}
p.pro1,p.pro2{
    text-align: center;
}