.topnav {
  position: fixed; 
  width: 100%; 
  top: 0;
  float: right;
  background-color: #333;
  overflow: hidden;
}
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration:solid;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: grey;
  color: white;
}
#about{
    color:rgb(19, 17, 17);
    font-family: 'Times New Roman';
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#profile{
    width: 200px;
    border-radius: 25%;
}
.grid-con{
    display: grid;
    flex-direction: row-reverse;
}
#about,#pro1,#pro2,#pro3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
#about_me{
  margin-left: 20px;
}

h2{
  background-color: lightgray;
  text-align: center;
  color: black;
}
img{
  width:300px
}
#pro1_desc,#pro2_desc,#pro3_desc{
  margin-left: 20px;
  font-size: 20px;
}
@keyframes slidy 
{
  0% { left: 0px; }
  20% { left: 0px; }
  25% { left: -50px; }
  45% { left: -75px; }
  50% { left: -100px; }
  70% { left: -100px; }
  75% { left: -200px; }
  95% { left: -200px; }
  100% { left: -300px; }
}
  
div#slider { 
  overflow: hidden; 
}
div#slider figure img { width: 250px; float: left; }
div#slider figure { 
  position: relative;
  width: 500px;
  margin: 10px;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 5s slidy infinite; 
}

#intership{
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#img_intern{
  width: 500px;
}

.skills_list{
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}
.skills_list img{
  width: 100px;
}